{% extends 'base.html.twig' %}

{% block content %}

    {# dump(panier) #}

    <div class="col-10 mx-auto border">

        <div class="row mx-auto">
            <h3 class="col-12 mt-4 vpr">Votre Panier de réservation</h3>
            <table class="table table-stripped">
                <thead class="commandesthead">
                    <tr class="text-center">
                        <th>Article</th>
                        <th>Date de début de location</th>
                        <th>Date de fin de location</th>
                        <th>Montant de la location</th>
                    </tr>
                </thead>
                <tbody>
                    {% if panier is empty %}
                    <tr>
                        <td colspan="4" class="text-center">Votre panier est vide.</td>
                    </tr>
                    {% else %}
                    {% for produit in panier %}
                        <tr class="text-center">
                            <td>{{ produit.nom }}</td>
                            <td>{{ produit.date_debut }}</td>
                            <td>{{ produit.date_fin }}</td>
                            <td>{{ produit.prix }}€</td>
                        </tr>
                    {% endfor %}
                    {% endif %}
                    <tr class="col-10 montantcommande" >
                        <td colspan="3" align="right"><strong>Montant de votre commande</strong></td>
                        <td colspan="1" align="center">{{ prix }}€</td>
                    </tr>
                </tbody>
            </table>
        </div>

        <div class="row justify-content-end">
            <form class="col-2 vider mr-2 mb-2 text-center" action="{{ path('viderpanier') }}">
                <button class="btn">Vider</button>
            </form>
            {% if is_granted('IS_AUTHENTICATED_FULLY') %}
                <form class="col-2 reserver mb-2 text-center" action="{{ path('commande', {panier: panier}) }}" method="POST">
                    <button class="btn" {% if panier is empty %}disabled{% endif %}>Réserver</button>
                </form>
            {% else %}
                <form class="col-2 connexion mb-2 text-center" action="{{ path('connexion') }}">
                    <button class="btn">Connexion</button>
                </form>
            {% endif %}

        </div>
    </div>

{% endblock %}
