{% extends 'base.html.twig' %}

{% block content %}
<h1 class="col-12 text-center profil">Profil de
    <strong>{{ app.user.username }}</strong>
</h1>


<table class="col-md-6 col-sm-10 col-xs-6 mx-auto table profilclient">
    <th colspan="2" class="information">Informations Personnelles</th>
    <tr>
        <td class="vert">Nom et prénom</td>
        <td>
            <strong>{{ app.user.nom }}</strong>.<strong>{{ app.user.prenom }}</strong>
        </td>
    </tr>
    <tr>
        <td class="vert">Date de naissance</td>
        <td><strong>{{ app.user.dateDeNaissance |date("d/m/Y")  }}</strong></td>
    </tr>
    <tr>
        <td class="vert">Téléphone</td>
        <td>
            <strong>{{ app.user.telephone }}</strong>
        </td>
    </tr>
    <tr>
        <td class="vert">E-mail</td>
        <td>
            <strong>{{ app.user.email }}</strong>
        </td>
    </tr>


    <th colspan="2" class="adresseclient">Votre adresse</th>
    <tr>
        <td class="vert">Adresse</td>
        <td>
            <strong>{{ app.user.adresse }}</strong>
        </td>
    </tr>
    <tr>
        <td class="vert">Code postal</td>
        <td>{{ app.user.codePostal |number_format(0, '', '') }} </td>
    </tr>
    <tr>
        <td class="vert">Ville</td>
        <td>
            <strong>{{ app.user.ville }}</strong>
        </td>
    </tr>

</table>

<br>

<table class="mx-auto col-10 table ">
    <thead>
        <th colspan="5" class="vdc">Vos dernieres commandes</th>
    </thead>
    <tbody>

        {% set total = 0  %}
        {% for c in app.user.commandes %}
        <tr class="profilclientcommandesthead text-center bg-info">
            <th>N° de la commande</th>
            <th>Date de la commande</th>
            <th>Total Commande</th>
        </tr>
        <tr class='text-center'>
            <td>{{ c.id }}</td>
            <td>{{ c.dateEnregistrement | date('d/m/Y') }}</td>
            <td>{{ c.montant | number_format(2, ',', ' ') }}€</td>
        </tr>
        <tr class='text-center bg-light'>
            <th>Produits</th>
            <th>Date Debut Location</th>
            <th>Date Fin Location</th>
        </tr>
        {% for pc in c.produitsCommandes %}
        <tr class='text-center'>
            <td>{{ pc.produit.nom }}</td>
            <td>{{ pc.dateDebutLocation | date('d/m/Y') }}</td>
            <td>{{ pc.dateFinLocation | date('d/m/Y') }}</td>
            {% set total = total +  c.montant %}
        </tr>
        {% endfor %}
        </tr>
        {% endfor %}
    </tbody>
</table>
{% endblock %}