{% extends 'base.html.twig' %}

{% block stylesheets %}

<link rel="stylesheet" href="http://code.jquery.com/ui/1.12.1/themes/base/jquery-ui.css">
<link rel="stylesheet" href="{{ asset('Datepicker/Datepicker.css') }}">

{% endblock %}


{% block content %}

<div class="col-6 mx-auto my-2 p-2 border bg-light">

    <!-- //////////////////////////////////////////////////////////////////////////////////////////////////////// -->

    <!-- Liste de variables twig et IDs qui serviront à remplir la page produit d'informations, servez-vous! -->

    <strong>Nom du produit : </strong> {{ produit.nom }}<br>
    <strong>ID de l'exemplaire en cours : </strong> {{ produit.id }}<br>
    <strong>Prix : </strong> {{ produit.prix }}€<br>
    <strong>Type : </strong> {{ produit.type }}<br>
    <strong>Univers : </strong> {{ produit.univers }}<br>
    <strong>Slug : </strong> {{ produit.slug }}<br>
    <strong>GUID : </strong> {{ produit.guid }}<br>
    <img src="" alt="Image du produit" id="imageproduit" width="100%">
    {% if produit.type == 'jeu' %}
    <strong>Description du jeu :</strong> <span id="description"></span><br>
    <strong>Développeurs :</strong> <span id="developpeurs"></span><br>
    <strong>Genre :</strong> <span id="genre"></span><br>
    {% elseif produit.type == 'console' %}
    <strong>Description de la console :</strong> <span id="description"></span><br>
    <strong>Compagnie :</strong> <span id="compagnie"></span><br>
    {% endif %}

    <!-- //////////////////////////////////////////////////////////////////////////////////////////////////////// -->

    <form class="p-2 border">

        <label for="datepicker-debut">Debut de Location:</label>
        <input type="text" id="datepicker-debut" name="datepicker-debut">
        <label for="datepicker-fin">Fin de Location:</label>
        <input type="text" id="datepicker-fin" name="datepicker-fin">

        <button type="submit" class="btn btn-primary">Ajouter au panier</button>
    </form>

</div>

{% endblock %}

{% block javascript %}
<script>
    // -----------------------------
    // AJAX : AJOUT PRODUIT PANIER
    // -----------------------------

    $(document).ready(() => {

        //dans le formulaire  quand on appuis sur submit on lance: ...
        $("form").on('submit', (e) => {

            //on empeche l action du submit de ce lancer 
            e.preventDefault();

            if ($("#datepicker-debut").val() == "" || $("#datepicker-fin").val() == "") {
                alert("Les dates n'ont pas été correctement renseignées.");
            }
            else {
                //on recupere les donner  pour les mettre dans la Var data
                var data = {
                    'nom': '{{ produit.nom }}',
                    'prix': '{{ produit.prix }}',
                    'date_debut': $("#datepicker-debut").val(),
                    'date_fin': $("#datepicker-fin").val()
                }
                //on lance l'ajax
                $.ajax({
                    //qui applique une methode POST
                    method: "POST",
                    //le chemin que lon veut parcourire
                    url: "{{ path('ajoutpanier') }}",
                    //on donne a data la valeur data
                    data: data
                    //puis on envois une alrte pour verifier les valeur envoyer
                }).done(() => { alert("Produit ajouté au panier!"); })
            }

        });

    });
</script>

<script src="https://code.jquery.com/ui/1.12.1/jquery-ui.js"></script>

<script>
    // ------------------
    // DATEPICKER
    // ------------------

    //fonction a rajouter sur le Datepicker
    $(function () {
        $("#datepicker").datepicker({
            inline: true,
            showOtherMonths: true,
            //abbreviation des jours en FR
            dayNamesMin: ['Dim', 'Lun', 'Mar', 'Mer', 'Jeu', 'Ven', 'Sam'],
            monthNames: ["Janvier", "Fevrier", "Mars", "Avril", "Mai", "Juin", "Juillet", "Aout", "Septembre", "Octobre", "Novembre", "Decembre"],
            dateFormat: "dd/mm/yy",
        });
    });

    $(function () {
        $("#datepicker-debut").datepicker({
            minDate: 0,
            prevText: "click for previous months",
            nextText: "click for next months",
            showOtherMonths: true,
            selectOtherMonths: false,
            monthNames: ["Janvier", "Fevrier", "Mars", "Avril", "Mai", "Juin", "Juillet", "Aout", "Septembre", "Octobre", "Novembre", "Decembre"],
            dayNamesMin: ['Dim', 'Lun', 'Mar', 'Mer', 'Jeu', 'Ven', 'Sam'],
            dateFormat: "dd/mm/yy",
            onSelect: function (selectedDate) {
                $("#datepicker-fin").datepicker("option", "minDate", selectedDate);
            }
        });
        $("#datepicker-fin").datepicker({
            prevText: "Mois precedent",
            nextText: "Prochain Mois",
            showOtherMonths: true,
            selectOtherMonths: true,
            monthNames: ["Janvier", "Fevrier", "Mars", "Avril", "Mai", "Juin", "Juillet", "Aout", "Septembre", "Octobre", "Novembre", "Decembre"],
            dayNamesMin: ['Dim', 'Lun', 'Mar', 'Mer', 'Jeu', 'Ven', 'Sam'],
            dateFormat: "dd/mm/yy",
            onSelect: function (selectedDate) {
                $("#datepicker-debut").datepicker("option", "maxDate", selectedDate);
            }
        });
    });

    // -------------------
    // AJAX : API GIANTBOMB
    // -------------------

    // on joint l'API par une requête ajax : c'est le guid du produit qui permet de faire le lien
    $("document").ready(() => {
        console.log("jQuery activé!");

        if ('{{ produit.type }}' == 'jeu') {
            $url = 'game';
        }
        else if ('{{ produit.type }}' == 'console') {
            $url = 'platform';
        }
        else if ('{{ produit.type }}' == 'accessoire') {
            $url = 'accessory';
        }

        // dans cette requête GET, on demande le produit par le guid, puis on reçoit une réponse en json/jsonp/je-sais-pas-trop-mais-cette-combinaison-de-paramètres-fonctionne
        $.ajax({
            method: 'GET',
            url: 'https://www.giantbomb.com/api/' + $url + '/{{ produit.guid }}',
            dataType: 'jsonp',
            jsonp: 'json_callback',
            data: {
                api_key: 'e009edce3a7d7316c39b6b6f8aa51b1cbe09ae80',
                format: 'jsonp'
            }
        }).done((data) => {
            // ici on manipule la réponse envoyée par GiantBomb à travers la variable data
            // d'abord un petit console.log pour avoir en console la totalité de la réponse à portée de main
            console.log(data.results)

            // puis on assigne à des éléments du DOM les morceaux de data qui nous intéressent : ici une image du produit, sa description, l'équipe de développement et le genre
            if ('{{ produit.type }}' == 'jeu') {
                console.log('jeu ok!');
                $("#imageproduit").attr("src", data.results.image.medium_url);
                $("#description").html(data.results.deck);
                $("#developpeurs").html(data.results.developers[0].name);
                $("#genre").html(data.results.genres[0].name);
            }
            else if ('{{ produit.type }}' == 'console') {
                console.log('console ok!');
                $("#imageproduit").attr("src", data.results.image.medium_url);
                $("#description").html(data.results.deck);
                $("#compagnie").html(data.results.company.name);
            }
        });
    });
</script>

{% endblock %}