{% extends 'base.html.twig' %}

{% block stylesheets %}
{#recuperation pour le data picker#}
<link rel="stylesheet" href="http://code.jquery.com/ui/1.12.1/themes/base/jquery-ui.css">
<link rel="stylesheet" href="{{ asset('Datepicker/Datepicker.css') }}">

{% endblock %}

{% block content %}

<h1 class="text-center my-2">Ajout Commande</h1>

<!-- Formulaire d'ajout de produit -->
<div class="col-4 mx-auto mb-3 p-2 border border-dark bg-light">

    <form name="formproduit" action="" method="POST">


        {# Boucle pour les selecteur ajax pour trouver le produit par type et univers #}
        <label for="">Sélection produit</label>
        {#selecteur Type#}
        <select name="type" class="mb-3">
            <option value="" selected disabled hidden>Sélection</option>
            {% for ty in type %}
            <option value="{{ ty.type }}">{{ ty.type | capitalize }}</option>
            {% endfor %}
        </select>
        {#selecteur univers#}
        <select name="univers" style="display:none" class="mb-3">
        </select>
        {#selecteur produits par rapport au selection d avant #}
        <select name="produits" style="display:none" class="mb-3">
        </select>

        {#Les dates pickers#}
        <label for="datepicker-debut">Debut de Location:</label>
        <input type="text" id="datepicker-debut" name="datepicker-debut" class="mb-3">
        <label for="datepicker-fin">Fin de Location:</label>
        <input type="text" id="datepicker-fin" name="datepicker-fin" class="mb-3">

        <button type="submit" class="btn btn-primary">➕ Ajouter un Produit</button>

    </form>

</div>

<div class="col-10 mx-auto border">

    <div class="row mx-auto">
        <table class="table table-stripped">
            <thead class="commandesthead">
                <tr class="text-center">
                    <th>Article</th>
                    <th>Date de début de location</th>
                    <th>Date de fin de location</th>
                    <th>Montant de la location</th>
                </tr>
            </thead>
            <tbody class="text-center">
                <tr>
                    <td colspan="4" class="text-center">Veuillez ajouter un produit.</td>
                </tr>
                <tr class="col-10 montantcommande">
                    <td colspan="3" align="right"><strong>Montant de la commande</strong></td>
                    <td colspan="1" align="center">20€</td>
                </tr>
            </tbody>
        </table>
    </div>

    <div class="d-flex justify-content-end">
        <form class="text-center mr-2" action="">
            <button class="btn btn-warning">Vider</button>
        </form>
        <form class="text-center" action="" method="POST">

            <label for="membre" class="d-inline">Membre</label>
            <select name="membre" class="mb-3">
                <option value="" selected disabled hidden>Sélection</option>
                {% for mem in membres %}
                <option value="{{ mem.username }}">{{ mem.username }}</option>
                {% endfor %}
            </select>

            <button class="btn btn-primary">Réserver</button>

        </form>

    </div>
</div>

{% endblock %}

{% block javascript %}

<script>

    $("document").ready(() => {

        $formProduit = $('form[name="formproduit"]');
        $selectType = $('select[name="type"]');
        $selectUnivers = $('select[name="univers"]');
        $selectProduits = $('select[name="produits"]');

        // Je sélectionne le select et quand la valeur change on fait une action
        $selectType.change(() => {

            var data = $selectType.val();

            // AJAX POUR Récupérer les univers qui vont avec ce type
            var url = "{{ path('admin_ajax_univers_list') }}";

            // on place une option de base qui disparais quand une des autre option et selectionner 
            var content = '<option value="" selected disabled hidden>Sélection</option>';

            $.ajax({
                url: url,
                async: false,
                method: 'post',
                dataType: 'json',
                data: {
                    'type': data
                },
                success: function (response) {
                    for (var i = 0; i < response.length; i++) {
                        content += '<option value="' + response[i]['univers'] + '">' + response[i]['univers'] + '</option>';
                    }
                    $selectUnivers.html(content);
                }
            });

            $selectUnivers.show();

        });

        // Je sélectionne le select et quand la valeur change on fait une action
        $selectUnivers.change(function () {

            var data = {
                'type': $selectType.val(),
                'univers': $selectUnivers.val(),
            }

            // AJAX POUR Récupérer les univers qui vont avec ce type
            var url = "{{ path('admin_ajax_produit_list') }}";

            // on place une option de base qui disparait quand une des autres options est sélectionnée
            var content = '<option value="" selected disabled hidden>Sélection</option>';

            $.ajax({
                url: url,
                async: false,
                method: 'post',
                dataType: 'json',
                data: data,
                success: function (response) {
                    for (var i = 0; i < response.length; i++) {
                        content += '<option value="' + response[i]['id'] + '">' + response[i]['nom'] + '</option>';
                    }
                    $selectProduits.html(content);
                }
            });

            $selectProduits.show();

        });

        $dpd = $("#datepicker-debut");
        $dpf = $("#datepicker-fin");

        $formProduit.submit((e) => {
            e.preventDefault();
            if (!$selectProduits.val() || !$dpd.val() || !$dpf.val()) {
                alert("Veuillez renseigner tous les champs.");
            }
            else {
                $("tbody").html('<tr><td style="color:blue">' + $selectProduits.val() + '</td><td>' + $dpd.val() + '</td><td>' + $dpf.val() + '</td><td></td></tr><tr><td colspan="4" style="color:red">/!\\ CRUD COMMANDE EN TRAVAUX /!\\</td></tr>');
                // $.ajax({
                //     method: 'GET',
                //     url: "{{ path('admin_ajax_produit') }}",
                //     async: false,
                //     dataType: json,
                //     data: {},
                //     success: () => {
                //     }
                // })
            };
        });

    });

</script>

<script src="https://code.jquery.com/ui/1.12.1/jquery-ui.js"></script>

<script>
    // ------------------
    // DATEPICKER
    // ------------------

    //fonction a rajouter sur le Datepicker
    $(function () {
        $("#datepicker").datepicker({
            inline: true,
            showOtherMonths: true,
            //abbreviation des jours en FR
            dayNamesMin: ['Dim', 'Lun', 'Mar', 'Mer', 'Jeu', 'Ven', 'Sam'],
            monthNames: ["Janvier", "Fevrier", "Mars", "Avril", "Mai", "Juin", "Juillet", "Aout", "Septembre", "Octobre", "Novembre", "Decembre"],
            dateFormat: "dd/mm/yy",
        });
    });

     //fonction a rajouter sur le Datepicker
    $(function () {
        $("#datepicker-debut").datepicker({
            minDate: 0,
            prevText: "click for previous months",
            nextText: "click for next months",
            showOtherMonths: true,
            selectOtherMonths: false,
            monthNames: ["Janvier", "Fevrier", "Mars", "Avril", "Mai", "Juin", "Juillet", "Aout", "Septembre", "Octobre", "Novembre", "Decembre"],
            dayNamesMin: ['Dim', 'Lun', 'Mar', 'Mer', 'Jeu', 'Ven', 'Sam'],
            dateFormat: "dd/mm/yy",
            onSelect: function (selectedDate) {
                $("#datepicker-fin").datepicker("option", "minDate", selectedDate);
            }
        });
        $("#datepicker-fin").datepicker({
            prevText: "Mois precedent",
            nextText: "Prochain Mois",
            showOtherMonths: true,
            selectOtherMonths: true,
            monthNames: ["Janvier", "Fevrier", "Mars", "Avril", "Mai", "Juin", "Juillet", "Aout", "Septembre", "Octobre", "Novembre", "Decembre"],
            dayNamesMin: ['Dim', 'Lun', 'Mar', 'Mer', 'Jeu', 'Ven', 'Sam'],
            dateFormat: "dd/mm/yy",
            onSelect: function (selectedDate) {
                $("#datepicker-debut").datepicker("option", "maxDate", selectedDate);
            }
        });
    });

</script>

{% endblock %}