{% extends 'base.html.twig' %}

{% block content %}

<h1>Ajout Commande</h1>


<div class="mx-auto p-2 border bg-light" style="width: 30vw">


    <br>
    <div>
        <label for="">Membre</label><br />
        <select name="" id="">
            {% for mem in membres %}

            <option value="membre">{{ mem.username }}</option>

            {% endfor %}
        </select>
    </div>

    <label for="">Test</label><br />
    <select name="" id="Type" class="linked_select" data-target="#Univers" data-source="">
        {% for ty in type %}

        <option value="type">{{ ty.type }}</option>

        {% endfor %}
    </select>
    <br>
    <br>

    
    <div>

        <br>
        <label for="">Selection Produit</label>
        <select name="Type">
            {% for ty in type %}
    
            <option value="{{ ty.type }}">{{ ty.type | capitalize }}</option>
    
            {% endfor %}
        </select>



        <div id="univers" class="mes_divs" style="display:none">
            <br>
            <select name="Univers">
                
            </select>
                       

        </div>

        <div id="produits" class="mes_divs" style="display:none">
            <br>
            <select name="Produits">
                <option value="1">Test</option>
            </select>
                      
        </div>

    </div>

</div>


{% endblock %}

{% block javascript %}

<script>
    
    
    // Je sélectionne le select et quand la valeur change on fait une action
    $('select[name="Type"]').change(function () {
        
       
        var data = {
            'type' : $('select[name="Type"]').val(),
        }
        console.log(data);

        // AJAX POUR Récupérer les univers qui vont avec ce type
        var url = "{{ path('admin_ajax_univers_list') }}";
        console.log(url);
        var content = '';
       $.ajax({
            url : url,
            async: false,
            method: 'post',
            dataType : 'json',
            data : data,
            success : function(response){
                console.log(response);
                for(var i = 0; i < response.length; i ++){
                    console.log('tour' + i);
                    content += '<option value="' + response[i]['univers'] + '">' + response[i]['univers'] + '</option>';
                }
                $('select[name="Univers"]').html(content);
            }
        });

        
        $('#univers').show();

    });

    // Je sélectionne le select et quand la valeur change on fait une action
    $('select[name="Univers"]').change(function () {
        
       
        var data = {
            'type' : $('select[name="Type"]').val(),
            'univers' : $('select[name="Univers"]').val(),
        }
        console.log(data);

        // AJAX POUR Récupérer les univers qui vont avec ce type
        var url = "{{ path('admin_ajax_produit_list') }}";
        console.log(url);
        var content = '';
       $.ajax({
            url : url,
            async: false,
            method: 'post',
            dataType : 'json',
            data : data,
            success : function(response){
                console.log(response);
                for(var i = 0; i < response.length; i ++){
                    console.log('tour' + i);
                    content += '<option value="' + response[i]['nom'] + '">' + response[i]['nom'] + '</option>';
                }
                $('select[name="Produits"]').html(content);
            }
        });

        
        $('#produits').show();

    });

</script>

{% endblock %}