{% extends 'base.html.twig' %}

{% block content %}


<div class="table table-striped offset-1">
    <h1>Gestion des Commandes</h1>

    <a type="submit" name="ajout_panier" class="btn btn-success col-2 my-4"
        href="{{ path('admin_commandes_add') }}">➕
        Ajouter une commande</a>

    <table>
        <tbody>
            {% for comm in commandes %}
            <tr class='text-center'>
                <th colspan="12">COMMANDE NUMERO {{ comm.id }}</th>
            </tr>
            <tr class='text-center'>
                <td>Prenom</td>
                <td>Nom</td>
                <td>Email</td>
                <td>Telephone</td>
                <td>Date Enregistrement</td>
                <td>Montant</td>
            </tr>
            <tr>
                <td>{{ comm.membre.prenom }}</td>
                <td>{{ comm.membre.nom}}</td>
                <td>{{ comm.membre.email }}</td>
                <td>{{ comm.membre.telephone}}</td>
                <td>{{ comm.dateEnregistrement | date('d/m/Y')}}</td>
                <td>{{ comm.montant }}</td>
            </tr>
            <tr class='text-center'>
                <td>Produits</td>
                <td>Date Debut Location</td>
                <td>Date Fin Location</td>
                <td colspan='2'>Action</td>
            </tr>
            {% for com in comm.produitsCommandes %}
            <tr class='text-center'>
                <td>{{ com.produit.nom }}</td>
                <td>{{ com.dateDebutLocation | date('d/m/Y')}}</td>
                <td>{{ com.dateFinLocation | date('d/m/Y')}}</td>
                <td><a href="{# {{ path('admin_commandes_update', {id : com.id} ) }} #}">✏️</a></td>
                <td><a onclick="return confirm('Etes Vous sur de voiloir supprimer cette commande ?')"
                        href="{# {{ path('admin_commandes_delete', {id : com.id} ) }} #}">❌</a></td>
            </tr>
            
            {% endfor %}
            {% endfor %}
            
        </tbody>
    </table>

</div>


{% endblock %}