{% extends 'base.html.twig' %}

{% block content %}


<div class="table table-striped offset-1">
    <h1>Gestion des Produits</h1>
    <br>
    <br>

    <a type="submit" name="ajout_panier" class="btn btn-success mb-2 col-md-2" href="{{ path('admin_produits_add') }}">➕
        Ajouter un Produit</a>

    <br>
    <br>
    <br>


    <table>
        <thead>
            <tr class="text-center">
                <td>Id</td>
                <td>Nom</td>
                <td>Prix</td>
                <td>Type</td>
                <td>Univers</td>
                <td>Slug</td>
                <td colspan='3'>Action</td>
            </tr>
        </thead>
        <tbody>
            {% for pdt in produits %}
            <tr class='text-center'>
                <td>{{ pdt.id }}</td>
                <td>{{ pdt.nom }}</td>
                <td>{{ pdt.prix}}€</td>
                <td>{{ pdt.type}}</td>
                <td>{{ pdt.univers}}</td>
                <td>{{ pdt.slug}}</td>
                <td><a href="{{ path('produit_id', {id : pdt.id} ) }}">👁️</a></td>
                <td><a href="{{ path('admin_produits_update', {id : pdt.id} ) }}">✏️</a></td>
                <td><a onclick="return confirm('Etes Vous sur de voiloir supprimer cette article ?')"
                        href="{{ path('admin_produits_delete', {id : pdt.id} ) }}">❌</a></td>
            </tr>
            {% endfor %}
        </tbody>
    </table>

</div>


{% endblock %}
