<!DOCTYPE html>
<html lang="fr">
    <head>
        <meta charset="UTF-8">
        <meta name="viewport" content="width=device-width, initial-scale=1.0">
        <meta http-equiv="X-UA-Compatible" content="ie=edge">
        <link href="https://use.fontawesome.com/releases/v5.0.7/css/all.css" rel="stylesheet">
        <link rel="stylesheet" href="{{ asset('css/style.css') }}">
        <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css">
        <link href="https://fonts.googleapis.com/css?family=Raleway:300,400,800&display=swap" rel="stylesheet">

        <title>
            {% block title %}
                GEEK'ation - Connexion
            {% endblock %}
        </title>
    </head>
    <body>
        <div class="bglogin">

            <h1 class="col-12 mx-auto mt-5 text-center titrelogin">Connexion</h1>

            <a href="{{ path('accueil') }}" class="btn btn-warning col-3 d-block mx-auto">Retour à l'accueil</a>
            ​
            <form method="post" action="{{ path('connexion_check') }}" class="formulaire col-md-6 col-sm-10 col-xs-10 mx-auto m-5 p-3">
                <div class="form-group col-10 mx-auto">
                    <input type="text" class="form-control" name="_username" value="{{ lastUsername }}" placeholder="Pseudo"/>
                </div>
                <div class="form-group col-10 mx-auto">
                    <input type="password" class="form-control" name="_password" value="" placeholder="Mot de passe"/>
                </div>
                <div class="form-group col-10 mx-auto">
                    <input type="submit" class="btn col-12 loginbtn" value="connexion"/>
                </div>

                <div class="inscristoi">
                    Pas encore inscrit ?
                    <a href="{{path('inscription')}}" class="inscristoiici">Inscrivez-vous !</a>
                </div>
            </form>
        </div>

        {% for message in app.flashes('success') %}
            <div class="alert alert-success">
                {{ message | raw}}
            </div>
        {% endfor %}

        {% for message in app.flashes('error') %}
            <div class="alert alert-danger">
                {{ message | raw }}
            </div>
        {% endfor %}


        {% block javascripts %}

            <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.1.1/jquery.min.js"></script>
            <script src="https://code.jquery.com/jquery-3.3.1.slim.min.js"></script>
            <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.14.7/umd/popper.min.js"></script>
            <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/js/bootstrap.min.js"></script>
        {% endblock %}
    </body>
</html></div></body></html>
